<h2>{{name | lowercase}}</h2>
<h2>{{name|uppercase}}</h2>
<h2>{{name|titlecase}}</h2>
<h2>{{568.9|number:'1.2-3'}}</h2>
<h2>{{0.25|percent}}</h2>
<h2>{{36.78 |currency:'INR'}}</h2>
<h2>{{36.78 |currency:'INR':'code'}}</h2>
<h2>{{date}}</h2>
<h2>{{date|date:'short'}}</h2>
<h2>{{date|date:'shortDate'}}</h2>
<h2>{{date|date:'shortTime'}}</h2>
<h2>{{date|date:'medium'}}</h2>
<h2>{{date|date:'mediumDate'}}</h2>
<h2>{{date|date:'mediumTime'}}</h2>
<h2>{{date|date:'long'}}</h2>
<h2>{{date|date:'longDate'}}</h2>
<h2>{{date|date:'longTime'}}</h2>
<h2>{{date|date:'dd/MM/yyyy'}}</h2>
<h2>{{date|date:'dd/MMM/yyyy'|uppercase}}</h2>






