 <!-- ----------------------- Binding ---------------- -->

<!-- <app-interpolation></app-interpolation> -->
<!-- <app-property-binding></app-property-binding> -->
<!-- <app-style-binding></app-style-binding> -->
<!-- <app-class-binding></app-class-binding> -->
<!-- <app-attribute-binding></app-attribute-binding> -->
<!-- <app-event-binding></app-event-binding> -->
<!-- <app-twoway-binding></app-twoway-binding> -->


<!-- ------------------- Directives ---------------- -->

<!-- <app-structural></app-structural> -->
<!-- <app-attribute></app-attribute> -->

<!-- <app-template-forms></app-template-forms> -->
<!-- <app-pipes></app-pipes> -->
<!-- <app-magical></app-magical> -->
<app-practice></app-practice>
<!-- <app-parent></app-parent> -->
