<!-- <app-interpolation></app-interpolation> -->
<!-- <app-property-binding></app-property-binding> -->
<!-- <app-style-binding></app-style-binding> -->
<!-- <app-class-binding></app-class-binding> -->
<!-- <app-attribute-binding></app-attribute-binding> -->
<!-- <app-event-binding></app-event-binding> -->
<app-twoway-binding></app-twoway-binding>
<!-- <app-template-forms></app-template-forms> -->
<!-- <app-pipes></app-pipes> -->
<!-- <app-directives></app-directives> -->
<!-- <app-magical></app-magical> -->
<!-- <app-practice></app-practice> -->
<!-- <app-parent></app-parent> -->
